# Each line is a file pattern followed by one or more owners.
# https://help.github.com/en/articles/about-code-owners

*           @woop @achals @tsotnet @felixwang9817 @adchia @Shopify/ml-platform-team